div {
  font-size: 36px;
  padding: 22px 18px 82px 18px;
  width: 312px;
  margin: 4px 5px 16px 4px;
  border: #7dce94 5px solid;
  background-color: #0e91a1;
  color: #005566;
  font-family: sans-serif;
}
