<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Thymeleaf Exercise #10</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
  </head>
  <body>
    <table>
      <tr>
        <th>Index</th>
        <th>Profession</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Species</th>
        <th>Good?</th>
      </tr>
      <tr th:each="account : ${bankAccountList}" th:style="${(account.king) ? 'color: goldenrod; background-color: black' : ''}">
        <td th:text="${accountStat.index + 1}"/>
        <td th:text="${(account.king) ? 'King' : 'Not king'}"/>
        <td th:text="${account.name}"/>
        <td th:text="${#numbers.formatDecimal(account.balance, 0, 'NONE', 2, 'POINT')}"/>
        <td th:text="${account.animalType}"/>
        <td th:text="${(account.good) ? 'Good One' : 'Bad Guy'}"/>
      </tr>
    </table>
  </body>
</html>