<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Fox Nursery</title>
  </head>
  <body>
    <ul>
      <li>Information</li>
    </ul>
    <img src="images/greenfox.png" alt="Your pet's picture" />
    <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. Knows ' + ${fox.tricks.size()} + ' tricks.'" />
    <h1>Known tricks</h1>
    <p th:if="${fox.tricks.size() == 0}">Inexperienced. Knows no tricks.</p>
    <ul th:unless="${fox.tricks.size() == 0}">
      <li th:each="trick : ${fox.tricks}" th:text="${trick}"/>
    </ul>
  </body>
</html>